* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  display: flex;
}

li {
  display: flex;
  flex-direction: row;
}

ul > li {
  padding: 10px 20px;
  border: 1px solid black;
}

ul > li:hover {
  border: 1px solid red;
  cursor: pointer;
}

ul > li:focus {
  background-color: green;
}

ul > li:nth-child(odd) {
  color: gray;
}

ul > li::before {
  content: ">> ";
}

ul > li:active {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media (max-width: 700px) {
  ul {
    flex-direction: column;
  }
}
